* {
    font-size: 16px;
}

h2 {
    color: #00497c;
    font-weight: 700;
    line-height: 16px;
}

.question-container {
    border-bottom: 2px solid rgb(214, 211, 211);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 85px;
    width: 700px;
    padding: 8px 120px;
    margin: 5px 0;
}

.choice-container {
    align-items: center;
    background-color: white;
    border: 1px solid rgba(86, 165, 235, 0.4);
    border-radius: 10px;
    display: flex;
    height: 48px;
    margin: 3px;
    width: 302px;
}

.choice-container:hover {
    background-color: #0fd9de;
    box-shadow: 0 6px 20px 0 rgba(86, 185, 235, 0.5);
    cursor: pointer;
    transform: translateY(1.6px);
    transition: transform 150ms;
}

.choice-prefix {
    background-color: #e2fdf9;
    border-radius: 12px;
    color: #195c7d;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    margin: 5px 10px;
    width: 30px;
}

.choice-prefix:hover {
    background-color: #195c7d;
    color: white;
}

.choice-text {
    color: #00497c;
    font-weight: 400;
    padding: 5px;
    width: 100%;
}

.correct {
    /* background-color: #28a745; */
}

.incorrect {
    /* background-color: #dc3545; */
}

#hud {
    color: #00497c;
    display: block;
    justify-content: space-around;
    height: 25px;
}

#hud-item {
    font-weight: 500;
    text-align: center;
}

#quiz {
    position: relative;
    margin-bottom: 85px;
}

#progressBar {
    background-color: #baf2eb;
    width: 700px;
    position: absolute;
    bottom: 351px;
}

#progressBarFull {
    background-color: #01c6ca;
    height: 10px;
}

/* IMAGES */
.img01 {
    position: absolute;
    top: 120px;
    left: 484px;
}

.img02 {
    position: absolute;
    top: 100px;
    left: 590px;
}

.img03 {
    position: absolute;
    top: 250px;
    left: 467px;
}

.img04 {
    position: absolute;
    top: 73px;
    left: 12px;
}

.img05 {
    position: absolute;
    top: 230px;
    right: 600px;
}

.img06 {
    position: absolute;
    top: 335px;
    right: 450px;
}

/* LOADER */
#loader {
    animation: spin 2s linear infinite;
    border: 20px solid white;
    border-radius: 50%;
    border-top: 24px solid #56a5eb;
    height: 100px;
    width: 100px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}