body {
    background-image: linear-gradient(#e9fffc, #96eae5, #70e2db);
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: #56a5eb;
    font-size: 54px;
    margin-bottom: 50px;
}

/* UTILITIES */
.container {
    background-image: url('../Images/img_-_07.jpeg');
    height: 455px;
    width: 700px;
    max-width: 700px;
    box-shadow: 7px 14px 24px 5px rgba(0, 0, 0, 0.27);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 85px auto;
}

.container > * {
    width: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.justify-center {
    justify-content: center;
}

.hidden {
    display: none;
}

/* BUTTONS */
.btn {
    background-color: white;
    border: 1px solid #56a5eb;
    color: #56a5eb;
    font-size: 25px;
    margin-bottom: 10px;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    width: 250px;
}

.btn:hover {
    background-color: #0fd9de;
    box-shadow: 0 14px 24px 0 rgba(0, 0, 0, 0.27);
    color: white;
    cursor: pointer;
    transform: translateY(-1.6px);
    transition: transform 150ms;
}

.btn[disabled]:hover {
    box-shadow: none;
    cursor: not-allowed;
    transform: none;
}

/* FORM */
form {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

input {
    border: none;
    box-shadow: box-shadow: 0 14px 24px 0 rgba(86, 185, 235, 0.5);
    font-size: 25px;
    margin-bottom: 10px;
    padding: 15px 0;
    width: 250px;
}

input::placeholder {
    color: #aaa;
}
