body {
    background-image: linear-gradient(#e9fffc, #96eae5, #70e2db);
}

* {
    box-sizing: border-box;
    /* color: #333; */
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    /* margin-bottom: 1rem; */
}

h1 {
    color: #56a5eb;
    font-size: 54px;
    margin-bottom: 50px;
}

h1 > span {
    /* font-size: 24px;
    font-weight: 500; */
}

h3 {
    /* font-size: 18px;
    font-weight: 500;
    margin-bottom: 50px; */
}

/* UTILITIES */
.container {
    background-image: url('../Images/img_-_07.jpeg');
    height: 455px;
    width: 700px;
    max-width: 700px;
    /* border: 1px solid black; */
    box-shadow: 7px 14px 24px 5px rgba(0, 0, 0, 0.27);
    /* -webkit-box-shadow: 7px 14px 24px 5px rgba(0,0,0,0.27); */
    /* -moz-box-shadow: 7px 14px 24px 5px rgba(0,0,0,0.27); */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 85px auto;
    /* padding: 20px; */
}

.container > * {
    width: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    /* text-align: center; */
}

.hidden {
    /* display: none; */
}

/* BUTTONS */
.btn {
    background-color: white;
    border: 0.1rem solid #56a5eb;
    color: #56a5eb;
    font-size: 30px;
    margin-bottom: 16px;
    padding: 16px 0;
    text-align: center;
    text-decoration: none;
    width: 320px;
}

.btn:hover {
    background-color: #0fd9de;
    box-shadow: 0 14px 24px 0 rgba(0, 0, 0, 0.27);
    color: white;
    cursor: pointer;
    transform: translateY(-1.6px);
    transition: transform 150ms;
}

.btn[disabled]:hover {
    box-shadow: none;
    cursor: not-allowed;
    transform: none;
}

/* FORM */
form {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

input {
    border: none;
    box-shadow: 0 0.1rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    font-size: 1.8rem;
    margin-bottom: 1rem;
    padding: 1.5rem;
    width: 20rem;
}

input::placeholder {
    color: #aaa;
}